@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
#room-2-title {
    text-align:center;
    padding-top: 20px;
    /* padding-bottom: 10px; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Tangerine', cursive;
    font-size:50px;
    color:#9b9999;
}
.background{
     background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");

}
.canvas-room-2{
    position:relative;
    padding-left: 57px;
    padding-top: 10px;
    padding-bottom:10px;
}
.individual-painting{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
}
.individual-buttons{
    margin-left: 98px;
    margin-bottom:5px;
}
.individual-text{
    padding-left: 98px;
    color:goldenrod;
}
#tour-background{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
}

#room-2-text-div{
    position:relative;
    padding-left: 10px;
    text-align:center;
    font-family: 'Tangerine', cursive;
    cursor:hand;
    color: goldenrod;
}

    .room-2-image-p{
        font-size:30px;
    }

    .room-2-image-p2{
        font-size:25px;
    }
    #notes{
        font-size: 30px;
        font-family: 'Cookie', cursive;
    }
    #playbtn {
        background: #222;
        height: 50px;
        min-width: 150px;
        border: none;
        border-radius: 10px;
        color: #eee;
        font-size: 30px;
        font-family: 'Cookie', cursive;
        position: relative;
        transition: 1s;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-top: 5px;
      }
      
      #playbtn #circle {
        width: 7px;
        height: 7px;
        background: transparent;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden;
        transition: 500ms;
      }
      
      .noselect {
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
      }
      
      #playbtn:hover {
        background: transparent;
      }
      
      /* #playbtn:hover #circle {
        height: 50px;
        width: 150px;
        left: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
      } */