@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
#room-2-title {
    text-align:center;
    padding-top: 20px;
    /* padding-bottom: 10px; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Tangerine', cursive;
    font-size:50px;
    color:#cccaca;
}
.background{
    background-color: #2b4470;
    background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
}
.canvas-room-2{
    position:relative;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom:10px;
}
.individual-painting{

    background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
}
.individual-text{
    color:#ffffff;
}

#room-2-text-div{
    position:relative;
    padding-left: 10px;
    text-align:center;
    font-family: 'Tangerine', cursive;
    cursor:hand;
    color:#cccaca;
}

    .room-2-image-p{
        font-size:30px;
    }

    .room-2-image-p2{
        font-size:25px;
    }
