@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
#site-title{
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Allura', cursive;
    margin-left: 10px;
    font-size: 30px;
}

.nav-item{
    padding: 30px;
}

.carousel-item > img{
    width:640px;
    height: 800px;
    object-fit: contain;

}
/* 
.carousel-inner{
    overflow:hidden;
} */