@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
#site-title{
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Allura', cursive;
    margin-left: 6px;
    font-size: 35px;
}

.nav-item{
    padding: 30px;
}


.carousel-item{
    height:550px;

}
#carousel-image-1{
    width:640px;
    /* height: 600px; */
    object-fit: contain;

    transform: translateY(50%);
    -webkit-transform: translateY(-20%);

    position: relative;
    

}

#carousel-image-2{
    width:640px;
    /* height: 600px; */
    object-fit: contain;

    transform: translateY(-50%);
    -webkit-transform: translateY(-40%);

    position: relative;

}

#carousel-image-3{
    width:640px;
    /* height: 600px; */
    object-fit: contain;

    transform: translateY(-50%);
    -webkit-transform: translateY(-45%);

    position: relative;

}

.carousel-caption-text-1{
    position:absolute;
    padding-top: 5px;
    left:20px;
}

.carousel-caption-text-2{
    position:absolute;
    padding-top: 35px;
    left:20px;
}


.card-img-top{
    object-fit:contain;
    max-height:300px; 
    padding-top:20px;
}

.card{
    max-width:800px; 
    margin-left:300px;
}

#home-nav, #site-title, #user-collection, #room-nav, #carousel-caption-1, #carousel-caption-2, #carousel-caption-3{
    cursor:hand;
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.3); 
}

#carousel-caption-1, #carousel-caption-2, #carousel-caption-3{
    position:absolute;
    top:450px;
    left:0px;
    height: 100px;
    width: 100%;
}


/* 
.carousel-inner{
    overflow:hidden;
} */