@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
#site-title{
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Allura', cursive;
    margin-left: 10px;
    font-size: 30px;
}

.nav-item{
    padding: 30px;
}

.carousel-item > img{
    width:640px;
    height: 800px;
    object-fit: contain;

}
.card-img-top{
    object-fit:contain;
    max-height:500px; 
    padding-top:20px;
}

.card{
    max-width:800px; 
    margin-left:300px;
}

#home-nav, #site-title, #user-collection, #room-nav, #carousel-caption-1, #carousel-caption-2, #carousel-caption-3{
    cursor:hand;
}
/* 
.carousel-inner{
    overflow:hidden;
} */