@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Kaushan+Script&family=Tangerine:wght@700&display=swap');

#room-1-title{
    text-align:center;
    padding-top: 20px;
    /* padding-bottom: 10px; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Tangerine', cursive;
    font-size:50px;
    color: white;
}

canvas{
    position:relative;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom:10px;
}

#text-div{
    position:relative;
    padding-left: 10px;
    text-align:center;
    font-family: 'Tangerine', cursive;
    cursor:hand;
    color: white;
}

    .image-p{
        font-size:30px;
    }

    .image-p2{
        font-size:25px;
    }