html{
    width: 100%; 
    height: 100%;
}

body{
    width:100%;
    height:100%;
    margin:0;
}

svg {
    width: 100%; 
    height: 100%;
    position: fixed;
    margin-left:10px;
    float:left;

}
.title{
    text-align:center;
    padding-top: 10px;
}


.caption {
    background: rgba(0, 0, 0, 0.5);
    color:white;
    text-align: center; 
    left:600;
    position: absolute;
    bottom: 500;
  }

  .caption-container{
    height: 100%;
    width: 50%;
  }


#main{
  margin-left:20px;
}



