/* Room 1 Show Page */
.painting-text-div{
    margin-left:100;
    display: inline-block;
    margin-top: 20;
    color:#edd8d8;
}

.painting-main-div{
    background-color: #913459;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    height: 125%;
}

.zoom-box{
    margin-left:100;
}

/* My Collection Show Page */

#painting-text-div2{
    color:black;
}

#my-collection-div{
    background-color: #de9292;
    background-image: url("https://www.transparenttextures.com/patterns/cross-scratches.png");
}


.painting-buttons-container{
    margin-left:100;
    padding-top:10px;
}

#room-1-save-btn, #room-1-tour-btn, #room-1-back-btn{
        color: #1C1717; 
        background-color:#edd8d8; 
        border-color: #130269; 
        margin-top: 10px;

}


#room-1-back-btn{
    position:relative;
    margin-top: 15px;
}

