.painting-text-div{
    margin-left:100;
    display: inline-block;
    margin-top: 20;
    color:#FEF0F9;
}

.painting-main-div{
    background-color: #913459;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
height: 125%;
}



.zoom-box{
    margin-left:100;
}

/* .painting-header, .painting-artist{
    display: inline-block;
} */